@{Layout = "_Layout";}

<h1>Add a cuisine</h1><hr>
<p>Add a cuisine here:</p>
<form action="/cuisines" method="post">
  <label for="cuisineType">Cuisine name:</label>
  <input id="cuisineType" name="cuisineType" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/cuisines">Back to cuisines.</a></p>